.ProductNavBox{
    display : flex; 
    justify-content : center;
    /* margin: 0 0 50px 0; */
    /* margin: 0 auto; */
}

.ProductNav{
    width: 1168px;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--text04);
}

li{
    width: 292px;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}

li:hover{
    border-bottom: 3px solid var(--main-color03);
}

li h3:hover{
    font-weight: 500;
    color: var(--main-color03);
}