.box{
    width: 1106px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}

.create {
    margin: 30px 0 50px 0;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.create h3{
    font-weight: 500;
    color: #D1D1D1;
}

.btn01, .btn02{
    width: 98px;
    height: 40px;
    font-size: 18px;
    border-radius: 12px;
    /* color: #fff;
    background-color: #849076; */
}

.btn01{
    color: #fff;
    background-color: #849076;
    margin: 0 10px 0 0;
}

.btn02{
    color: #CF5346;
    background-color: #fff;
    border: 1px solid #CF5346;
}

