/* ProducerOrderProductList.css */
.product-list {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr); /* Two items per row */
  gap: 20px;
  width: 100%;
}

.product-item {
  width: 920px;
    height: 178px;
    padding: 20px 24px;
    border: 1px solid #849076;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    margin-bottom: 20px;
}

.product-item img {
  width: 142px;
    height: 137px;
    /* margin: ; */
    box-sizing: border-box;
    overflow: hidden;
    /* background-color: red; */
  }

.product-item .info {
  display: grid; /* Use grid to create three rows */
  grid-template-rows: repeat(3, auto); /* Three rows for content */
  margin: 60px 0 0 0;
}

/* p {
  margin-bottom: 10px; Remove default margin from paragraphs
} */

.tracking-container {
  display: flex; /* Align child elements in a row */
  justify-content: space-between; /* Push elements to opposite ends */
  align-items: stretch;
  align-items: stretch; /* Ensures both sides match in height */
  width: 100%; /* Adjust width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.tracking-info {
  display: flex;
  flex-direction: column; /* Ensures vertical alignment */
  justify-content: center; /* Center content vertically */
}

.tracking-info p {
  font-size: 0.9rem;
  margin-bottom: 0px;
  color: gray;
}

.button-container {
  display: flex;
  flex-direction: row; /* Align buttons horizontally */
  align-items: center; /* Vertically align buttons */
}

.delivery-button {
  background-color: var(--main-color01); /* Example button color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px; /* Space between buttons */
}

.delivery-button:hover {
  background-color: var(--main-color02); /* Darker shade on hover */
}

.delivery-button:disabled {
  background-color: #ccc; /* Gray background for disabled state */
  color: #666; /* Darker gray text color for disabled state */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}
