.manage_box{
    width: 1350px;
    margin: 0 auto;
    padding: 0 30px;

}


.main_bg{
    width: 1350px;
    height: 716px;
    background-color: #E8E8E7;
}

.product_div1{
    display: flex;
    justify-content: space-between;
}

.manage_table{
    /* height: 672px; */
    margin-top: 25px;
    text-align: center;
}

thead tr{
    height: 45px;
    font-weight: 600;
    background-color: #fff;
}

.producer_tbody tr:nth-child(odd){
    background-color: #E6F1D9;
}

.producer_tbody tr:nth-child(even){
    background-color: #fff;
}

thead th, td{
    border: 1px solid #AABEC8;
}   

.manage_btns{
    /* height: 90px; */
     padding: 15px 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center;  */
}
/*
.manage_btns button:first-child{
    margin: 0 0 10px 0;
} */


input{
    /* width: 400px; */
    height: 30px;
    margin: 4px 5px 0 8px;
    padding: 10px;
}

