/* ProducerOrderProductList.css */
.product-list {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr); /* Two items per row */
  gap: 20px;
  width: 100%;
}

.product-item {
  border: 1px solid var(--text03);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  display: grid; /* Use grid to create two columns */
  grid-template-columns: 1fr 2fr; /* 1/3 for image, 2/3 for content */
  gap: 40px;
}

.product-item img {
  max-width: 100%; /* Ensure the image fits its column */
  border-radius: 8px; /* Optional: add border-radius for rounded corners */
}

.product-item .info {
  display: grid; /* Use grid to create three rows */
  grid-template-rows: repeat(3, auto); /* Three rows for content */
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px; /* Remove default margin from paragraphs */
}

.tracking-container {
  display: flex; /* Align child elements in a row */
  justify-content: space-between; /* Push elements to opposite ends */
  align-items: stretch;
  align-items: stretch; /* Ensures both sides match in height */
  width: 100%; /* Adjust width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.tracking-info {
  display: flex;
  flex-direction: column; /* Ensures vertical alignment */
  justify-content: center; /* Center content vertically */
}

.tracking-info p {
  font-size: 0.9rem;
  margin-bottom: 0px;
  color: gray;
}

.button-container {
  display: flex;
  flex-direction: row; /* Align buttons horizontally */
  align-items: center; /* Vertically align buttons */
}

.delivery-button {
  background-color: var(--main-color01); /* Example button color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px; /* Space between buttons */
}

.delivery-button:hover {
  background-color: var(--main-color02); /* Darker shade on hover */
}

.delivery-button:disabled {
  background-color: #ccc; /* Gray background for disabled state */
  color: #666; /* Darker gray text color for disabled state */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}
