.manage_box{
    width: 1351px;
    margin: 0 auto;
    /* margin: 114px 0 0 0; */
    /* padding: 114px 0 0 0; */
}


.list label{
    font-size: 23px;
}

.product_name{
    width: 484px;
    height: 55px;
    padding: 12px 20px;
    display: flex;
    border-radius: 30px;
    background-color: #E8E8E7;
}

.list .line {
    width: 1px;
    height: 55px;
    padding: 2px 0;
    background-color: #fff;
}

