.box{
    width: 1102px;
    margin: 0 auto;
    /* background-color: blue; */
}

.btn{
    width: 150px;
    /* width: 98px; */
    height: 40px;
    margin: 0 0 0 18px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    background-color: #849076;
}