.main_list{
    width: 1168px;
    margin: 80px auto;
}

.main_product_box{
    width: 1167px;
    height: 687px;
    margin: 50px 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 0px 19.67px;
}

.more_button {
  width: 410px;
  margin: 0 auto;
  cursor: pointer;
}
