.main_product_box{
    width: 1167px;
    /* height: 1046px; */
    margin: 0 auto;
    padding: 50px 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
    /* background-color: red; */
}

.product_paging{
    width: 240px;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
}

.product_paging li > button{
    background-color: transparent;
}

.product_paging > button{
    background-color: transparent;
}

.product_paging li{
    width: 45px;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #b3b3b3 ;
}