.main_product_box{
    width: 1167px;
    height: 1046px;
    margin: 50px 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.product_paging{
    list-style-type: none;
    display: flex;
    /* display: inline-block; */
    margin: 0 auto;
}