.product_nav{
    width: 1168px;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--text04);
}

li{
    width: 292px;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}

.nav{
    display: block;
    color: var(--text04);
    font-size: 24px;
}

.nav:hover{
    padding: 0 0 14px 0;
    font-weight: 500;
    color: var(--main-color03);
    border-bottom: 3px solid var(--main-color03);
}