.box{
    width: 1167px;
    margin: 0 auto;
}

.cart {
    margin: 30px 0 50px 0;
}

h3{
    font-weight: 500;
    color: #D1D1D1;
}

.product{
    width: 720px;
    height: 178px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #849076;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.product_img {
    width: 142px;
    height: 137px;
    margin: 0 20px 0 0;
    /* background-color: red; */
}

.product_txt{
    margin: 35px 0 0 0;
}

.line{
    margin: 30px 0;
}