.box{
    width: 720px;
    height: 178px;
    padding: 20px 24px;
    border: 1px solid #849076;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    margin-bottom: 20px;
}

.img_box{
    width: 142px;
    height: 137px;
    /* margin: ; */
    background-color: red;
}

.txt_box{
    margin: 40px 0 0 0;
}