.content {
    /* padding: 100px;
    margin: 20px; */
    width: 1167px;
    margin: 0 auto;
    padding: 100px 0;
    gap: 20px;
    
}

.title {
    text-align: center;
    color:#D1D1D1;
    padding-bottom: 20px;
}

.item {
    border: 1px solid #849076;
    border-radius: 10px;
    padding: 20px 23px;
    margin: 20px 0;
    /* display: flex;
    justify-content: space-between; */
    position: relative;
    background-color: #fff;
}

.div_box01{
    width: 400px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.img_box{
    width: 142px;
    height: 137px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: red;
}

.txt{
    margin: 0 0 0 22px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -10px;
    left: 130px;
    /* right: 0; */
}

.txt h3{
    margin: 0 10px 0 0;
}

.div_box02{
    width: 470px;
    padding: 6px 12px 0px 10px;
    border-radius: 30px;
    color: #777;
    background-color: #ddd;
    position: absolute;
    bottom: 10px;
    left: 500px;
}

.div_box02 p{
    font-size: 18px;
}

.div_box03{
    display: flex;
    position: absolute;
    width: 124px;
    height: 32px;
    bottom: 20px;
    right: 20px;
}

.div_box03 .btn{
    width: 100px;
    height: 32px;
    margin: 0 20px 0 0;
    /* padding: 5px 0 0 0; */
    border: 1px solid #777;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.btn button{
    width: 25px;
}

.div_box03 >input{
    background-color: red;
}

.checkbox{
    margin: 5px 0 0 0;
}

/* 버튼을 가운데로 정렬하기 위한 스타일 추가 */
.order_btn {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    margin: 20px auto; /* 위 아래 여백 및 가운데 정렬 */
    padding: 50px 0 0 0;
    width: 100%; /* 필요에 따라 조정 */
}

.order_btn01{
    width: 98px;
    height: 40px;
    /* margin: 0 auto; */
    padding: 2px 5px;
    border-radius: 12px;
    color: #fff;
    background-color: #849076;
}

.order_btn02{
    width: 410px;
    height: 60px;
    display: inline-block;
    text-align: center;
    padding: 20px 5px;
    border-radius: 30px;
    color: #fff;
    background-color: #849076;
}

.btn{
    width: 124px;
    height: 33px;
    display: flex;
    flex-flow: row;
}



