.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Dimmed background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #e8e8e7;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 650px;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.modal-content-indicator {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.icon-container {
  position: relative; /* Allows progress bars to sit behind */
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px; /* Add spacing below the icons */
  z-index: 2; /* Icons above the progress bars */
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b9064; /* Solid background */
  color: white;
  border: none;
  border-radius: 50%; /* Circular shape */
  width: 60px; /* Adjust width */
  height: 60px; /* Adjust height */
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 3;
}

.progress-bars-container {
  position: absolute;
  top: 50%; /* Vertically align with icons */
  left: 0;
  width: 100%; /* Full width of the icon container */
  height: 10px; /* Adjust height of the progress bar */
  z-index: 1; /* Bars below the icons */
  pointer-events: none; /* Prevent user interaction */
}

.background-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Always fill the container */
  height: 100%; /* Match the height of the visualizer */
  background-color: rgb(196, 196, 196); /* Light gray background */
  border-radius: 5px; /* Rounded edges */
  z-index: 0; /* Behind the main progress bar */
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /* Match the height of the visualizer */
  background-color: #7b9064; /* Green progress */
  border-radius: 5px; /* Rounded edges */
  z-index: 1; /* Above the background bar */
  transition: width 0.5s ease; /* Smooth transition for progress updates */
}

.info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 10px;
  width: 100%;
  border-top: 1px solid #7b9064;
  border-bottom: 1px solid #7b9064;
  padding: 20px 0; /* Add padding for spacing */
}

.info-header {
  font-weight: bold;
  text-align: center;
}

.info-body {
  text-align: center;
  color: gray;
  /* font-size: 0.9em; */
}

.close-button {
  background-color: #7b9064;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  /* font-size: 1.1em; */
  font-weight: bold;
  margin-top: 20px;
}

.close-button:hover {
  opacity: 0.8;
}
