.adminSideNavContainer {
    background-color: var(--main-color01);
    padding: 28px 0;
  }
  
  .navList {
    padding: 0;
  }
  
  .navItem {
    width: 280px;
    padding: 18px 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
  }
  
  /* .navItem:hover {
    background-color: var(--main-color04);
  } */
  
  .navItem.active {
    background-color: #647453; /* Active state color */
  }
  
  .navLink {
    font-size: 20px;
    color: var(--text01);
    text-decoration: none;
  }
  